<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  ADD me up on
  <a href="http://www.facebook.com/tolantz">FACEBOOK</a>.  Para sa mga gus2 sumali: 
   maglagay lng ng picture ng tits sa isang sobre 
   pangalan ng suking tindahan 	
   at ihulog sa mga drop boxes in any SM Department Store Worldwide.
</p>